# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore file temporer hasil upload dan grafik di lokal
public/uploads/*
public/charts/*

# Jika di api/index.py menggunakan folder /tmp saat di lokal (tergantung OS)
/tmp/uploads/
/tmp/charts/